body{
    font-family: 'IBM Plex Sans Condensed', sans-serif;
}
.page-footer{
    background-color: #AFE0CE;

}

.mesPages>i{
    font-size: 10vh ;
    text-shadow: 2px 2px 10px black ;
}

.maPagination{   

    margin-top: 40vh;
    position: fixed;
    left: 0vh;
    z-index: 2;

}

.maPagination>li{   
    display: block;
    background-color: #6290C3;
    margin-top: 1vh;
    height: fit-content;    
    text-align: right;
    padding: 1vh;
    z-index: 2;
    position: relative;
    left: -7vh;
    
    
    
}
.maPagination>li:hover{   
    transform: scale(1.2);
    transform: rotateZ(-1deg);
    transition: ease-in 0.05s !important;
    background-color: #2797ee;
    left: 0vh;
}


.maPagination>li>a{   
    padding: 1vh;
    color: #f1f9fc;
    text-shadow: 0.5px 1px 0.5px black ;
    font-size: 110% ;

}

.Projets>li>a{
    color: black ;

}

.liens>li{
    width: fit-content;
    
}

.liens>li:hover>a{
    color: black !important;
    transition: all ease 0.5s;
    
}

.divPagination{

    width:10%; 
    background-color: white;
    height: 100%;
}


::-webkit-scrollbar {
    display: none;
}

.liens:hover>a{
    color: red !important;
    
}

.page-footer{
    background-color: white;
}

.page-footer{
    color:black;
}
.grey-text.text-lighten-3 {
    color: #2B2E4A !important;
}
.container{
    width: fit-content !important;
}